@layer components {
  .form-control {
    @apply
      block
      w-full
      p-2
      text-gray-900
      border
      border-gray-300
      rounded-lg
      bg-gray-50
      sm:text-xs
      transition-all
      focus:ring-4
      focus:ring-blue-100
      focus:border-blue-500
      dark:bg-gray-700
      dark:border-gray-600
      dark:placeholder-gray-400
      dark:text-white
      dark:focus:ring-blue-500
      dark:focus:border-blue-500;
  }
}
